---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.co-ords {
  bottom:0;
  right: 0;
}

a.red1:hover { color: #FB0007; }
a.yellow1:hover { color: #FFFF0B; }
a.green1:hover { color: #23FF07; }
a.blue1:hover { color: #000EFF; }
a.purple1:hover { color: #FB00FF; }

a {
  cursor: pointer;
}

#colourSpectrum {
  // border-top: 10px solid white;
  height: 4px;
  background: red; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,#FF0000,#FCFF00,#00FF7B,#000EFF,#A100FF);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,#FF0000,#FCFF00,#00FF7B,#000EFF,#A100FF);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,#FF0000,#FCFF00,#00FF7B,#000EFF,#A100FF);
  /* Standard syntax */
  background: linear-gradient(to right,#FF0000,#FCFF00,#00FF7B,#000EFF,#A100FF);
}
