<footer class="site-footer">
  <div class="mh4-l mh3">
    <ul class="list pl0 fw3 f4">
      <li class="pv2">
        <a href="https://dribbble.com/colesperks" target="_blank" class="white dim" >Dribbble</a>
      </li>
      <li class="pv2">
        <a href="https://twitter.com/colesperks" target="_blank" class="white dim" >Twitter</a>
      </li>
      <li class="pv2">
        <a href="https://www.instagram.com/colesperks/" target="_blank" class="dim white " >Instagram</a>
      </li>
      <li class="pv2">
        <a href="https://github.com/colesperks" target="_blank" class="dim white " >Github</a>
      </li>
    </ul>
  </div>
  <div class="relative">
    <!-- <p class="absolute co-ords">
      <span class="db di-ns glitch" data-text="44.6488° N">48°25′43″N </span> <span class="glitch" data-text=" 63.5752° W">123°21′56″W<span>
    </p> -->
  </div>
</footer>
